<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.04.2018, 08:31</p>
            <h2><a href="">My first post</a></h2>
            <p>I’ve been reading Homo Deus: a Brief History of Tomorrow again these days and a chapter titled The Equation of Life reminds me of a TV Series I watched on Channel 4 several years ago. It is called Humans, starred by Gemma Chan (the actress of Soolin Yao in Sherlock Season 1), and Colin Morgan (remember the young Archmage Merlin?). Well, I don’t want to be a spoiler, but I need to touch a little bit on the story. The story brings us to a society where people are living together with synths—man-made, human-like, algorithm-based “machines” competent in most of human jobs yet without self-consciousness or feelings. The founder of the whole synth industry, Prof. David does possess lines of code that can make synths self-conscious and he built it implicitly into his prototypes.</p>
        </div>
      
        <div>
            <p>published: 21.04.2018, 08:36</p>
            <h2><a href="">My second post</a></h2>
            <p>It is kind of intriguing that synthetic humans have self-consciousness. Let’s imagine that a human-like mind could be evolved in the process of their daily work and interactions with humans, then what would that mind be like? An algorithm? What is OUR mind? Does our mind equate with brain activities?</p>
        </div>
    </body>
</html>
